<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
درآمد
</font>
</h1>

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('train.csv')
train_data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,40,Private,130834,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
24996,31,Local-gov,33124,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
24997,38,Federal-gov,190895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,>50K
24998,23,Private,420973,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24999,60,Private,88055,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K

In [3]:
for i in train_data.columns:
  train_data[i].replace('?', np.nan, inplace=True)

In [4]:
train_data.isnull().sum()

age                  0
workclass         1429
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1434
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     437
income               0
dtype: int64

In [5]:
test_data = pd.read_csv('test.csv')
test_data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,31,Private,176711,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,38,United-States
1,40,Private,120277,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States
2,43,Private,299197,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
3,70,Self-emp-inc,188260,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,16,United-States
4,51,Private,254211,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,20,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7159,37,Self-emp-not-inc,75050,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States
7160,36,Private,156780,HS-grad,9,Never-married,Sales,Other-relative,Asian-Pac-Islander,Female,0,0,40,?
7161,34,Private,381153,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
7162,59,Private,294395,Masters,14,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
7163,24,State-gov,506329,Some-college,10,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Male,0,0,40,?

In [6]:
for i in test_data.columns:
  test_data[i].replace('?', np.nan, inplace=True)

In [7]:
test_data.isnull().sum()

age                 0
workclass         387
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation        389
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      0
native.country    138
dtype: int64

In [8]:
for i in ['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week'] :
  Q1 = train_data[i].quantile(.25)
  Q3 = train_data[i].quantile(.75)
  IQR = Q3 - Q1
  train_data[(train_data[i]> Q1 - (1.5 * IQR)) & (train_data[i]< Q3 + (1.5 * IQR))]

# DecisionTreeClassifier model

In [9]:
sk_train = train_data.copy()
sk_test = test_data.copy()

In [10]:
cols = ['workclass', 'occupation', 'native.country']

for col in cols:
    most_frequent = sk_train[col].value_counts().sort_values(ascending=False).index[0]
    sk_train[col].fillna(most_frequent, inplace=True)
    sk_test[col].fillna(most_frequent, inplace=True)
    print('All the missing values in column', col, 'are replaced with', most_frequent)

All the missing values in column workclass are replaced with Private
All the missing values in column occupation are replaced with Prof-specialty
All the missing values in column native.country are replaced with United-States

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
sk_train['income'] = le.fit_transform(sk_train['income'])
to_label = dict(zip(le.classes_, le.transform(le.classes_)))
to_class = dict(zip(le.transform(le.classes_), le.classes_))
print(to_label)

{0.0: 0, 1.0: 1}

In [19]:
from sklearn.preprocessing import OrdinalEncoder

categorical_cols = sk_train.select_dtypes(include = "object").columns

enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

sk_train[categorical_cols] = enc.fit_transform(sk_train[categorical_cols])
sk_test[categorical_cols] = enc.transform(sk_test[categorical_cols])

In [20]:
y=  sk_train[['income']]

In [21]:
x = sk_train.copy()
x.drop(columns= ['income'], inplace= True)

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True)

In [24]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=10, min_samples_split=50, min_samples_leaf=8, class_weight={0: 0.4, 1: 0.6})
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight={0: 0.4, 1: 0.6}, max_depth=10,
                       min_samples_leaf=8, min_samples_split=50)

# Using H2O library

In [25]:
!pip install h2o

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o
  Downloading h2o-3.40.0.1-py2.py3-none-any.whl (177.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.7/177.7 MB 5.3 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from h2o) (2.25.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from h2o) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->h2o) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->h2o) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->h2o) (1.24.3)
Installing collected packages: h2o
Successfully installed h2o-3.40.0.1

In [26]:
import h2o

In [27]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.17" 2022-10-18; OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu220.04); OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu220.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.8/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmphx_yhzft
  JVM stdout: /tmp/tmphx_yhzft/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmphx_yhzft/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.1
H2O_cluster_version_age:    17 days
H2O_cluster_name:           H2O_from_python_unknownUser_rjndnp
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

In [28]:
train_data = h2o.H2OFrame(train_data)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [29]:
test_data = h2o.H2OFrame(test_data)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [30]:
response_column = 'income'
training_columns = ['age','workclass','fnlwgt','education','education.num','marital.status','occupation','relationship',
     'race','sex','capital.gain','capital.loss','hours.per.week','native.country']

In [31]:
from h2o.estimators import H2ORandomForestEstimator
model = H2ORandomForestEstimator(ntrees=5, sample_rate=1)
model.train(x=training_columns, y=response_column, training_frame=train_data)

drf Model Build progress: |

/usr/local/lib/python3.8/dist-packages/h2o/estimators/estimator_base.py:193: RuntimeWarning: Sample rate is 100% and no validation dataset and no cross-validation. There are no out-of-bag data to compute error estimates on the training data!
  warnings.warn(mesg["message"], RuntimeWarning)

██████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2ORandomForestEstimator : Distributed Random Forest
Model Key: DRF_model_python_1677355921226_1


Model Summary:
    number_of_trees    number_of_internal_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  --------------------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    5                  5                           155465                 20           20           20            2185          2612          2385

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: NaN
RMSE: NaN
LogLoss: NaN
Mean Per-Class Error: NaN
AUC: NaN
AUCPR: NaN
Gini: NaN

Scoring History:
    timestamp            duration    number_of_trees    training_rmse    training_logloss    training_auc    training_pr_auc    training_lift    training_classification_error
--  -------------------  ----------  -----------------  ---------------  ------------------  --------------  -----------------  ---------------  -------------------------------
    2023-02-25 20:12:16  0.264 sec   0                  nan              nan                 nan             nan                nan              nan

Variable Importances:
variable        relative_importance    scaled_importance    percentage
--------------  ---------------------  -------------------  ------------
marital.status  2081.2                 1                    0.125905
relationship    2048.12                0.984106             0.123904
capital.gain    1977.84                0.950338             0.119652
occupation      1614.23                0.775628             0.0976552
age             1573.85                0.756225             0.0952123
education.num   1528.61                0.734485             0.0924752
education       1242.25                0.596894             0.0751518
hours.per.week  1072.77                0.515458             0.0648986
fnlwgt          935.164                0.44934              0.056574
capital.loss    794.616                0.381807             0.0480714
workclass       628.507                0.301993             0.0380224
native.country  503.957                0.242148             0.0304876
sex             326.337                0.156803             0.0197422
race            202.47                 0.0972856            0.0122487

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [32]:
model.predict(test_data)

drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%

/usr/local/lib/python3.8/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'native.country' has levels not trained on: ["Holand-Netherlands"]
  warnings.warn(w)

predict        <=50K       >50K
---------  ---------  ---------
<=50K      0.756194   0.243806
<=50K      0.97931    0.0206897
<=50K      0.604918   0.395082
<=50K      0.6        0.4
<=50K      0.72636    0.27364
<=50K      0.94386    0.0561404
<=50K      1          0
<=50K      0.887097   0.112903
<=50K      0.605882   0.394118
>50K       0.0666667  0.933333
[7164 rows x 3 columns]